    <footer>
        <div id="flex-footer">
            <div id="footer-details">
                <h3>Links</h3>
                <ul style="list-style: none">
                    <li id="footer-link"><a href="/index">Home</a></li>
                    <br> 
                    <li id="footer-link"><a href="/contact">Contact Me</a></li>
                    <br>
                    <li id="footer-link"><i class="fa-brands fa-linkedin"></i> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tshepomaseemesean66235244">LinkedIn</a></li>
                    <br>
                    <li id="footer-link"><i class="fa-brands fa-github"></i>  <a target="_blank" rel="noopener noreferrer" href="https://github.com/ShiiFt38">Github</a></li>

                </ul>
            </div>
            <div id="footer-details">
                <h3><i class="fa-solid fa-square-phone"></i>   Phone</h3>
                <p>066 235 2544</p>
                <h3><i class="fa-solid fa-envelope"></i>   Email</h3>
                <p>maseemet0@gmail.com</p>                
                <h3>Copyright</h3>
                <p>©2024 Tshepo Maseeme</p>
            </div>
        </div>
    </footer>