    <footer>
        <div id="flex-footer">
            <div id="footer-details">
                <h3>Links</h3>
                <ul style="list-style: none">
                    <li id="footer-link"><a href="/index">Home</a></li>
                    <li id="footer-link"><a href="/about">About Me</a></li>
                    <li id="footer-link"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tshepomaseemesean66235244">LinkedIn</a></li>
                    <li id="footer-link"><a target="_blank" rel="noopener noreferrer" href="https://github.com/ShiiFt38">Github</a></li>
                    <li id="footer-link"><a href="/index">Projects</a></li>
                    <li id="footer-link"><a href="/index">Contact</a></li>
                </ul>
            </div>
            <div id="footer-details">
                <h3>Copyright</h3>
                <p>@ 2023 - Tshepo Maseeme</p>
            </div>
        </div>
    </footer>