    <header>
        <a href="/index"><div class="logo"></div></a>
        
        <button class="mobile-nav-toggle" aria-expanded="false"><i class="fa-solid fa-bars" id="menu-icon"  ></i></button>

        <nav class="navbar" id="invisible">
            <ul class="nav--list" data-visible="false">
                <li><a href="/index" class="nav--link"><b>Home</b></a></li>
                <li><a href="/about" class="nav--link"><b>  About</b></a></li>
                <li><a href="/projects" class="nav--link"><b>  Projects</b></a>
                <li><a href="/contact" class="nav--link"><b>  Contact</b></a></li>
                <li><img src="/images/moon.png" alt="" id="icon"></li>
            </ul>
        </nav>

    </header>