---
title: projects
layout: "base.njk"
---
 <div class="contact-heading" style="padding: 0;">
     <h1 class="secondary-heading">{{ title + " Case Study" }}</h1>
 </div>
 <div id="project-grid-1">
     <img src="{{ images[0] }}" alt=" " style="margin-bottom: ">
 </div>
  <div style="padding-inline: 100px; text-align: center;">
    <div class="hero--intro" style="display: flex; color: var(--secondary-color)">
  
      {% for tech in tech%}
        <ul>
            <li id="hero-list-item">{{ tech }}</li>
        </ul>
        {% endfor %}
    </div>
    {{ content | safe }}
  </div >
<div id="projects--article">
  {% for image in images %}
      {% if loop.index >= 2 %} {# Start from the third image (index 2) #}
        <div id="project-grid-{{ loop.index }}">
            <img src="{{ image }}" alt=" ">
        </div>
      {% endif %}
    {% endfor %}
</div>

    <div id="project-link">
        <a href="{{ project.data.siteUrl }}" class="web-link-btn"  
            target="_blank" rel="noopener noreferrer">Visit Site
        </a>
    </div>

</div>
</div>