<div id="huge-display">
    <div id="project-heading">
        <h1>{{ project.data.title }}</h1>
    </div>
    
        {% for image in project.data.images%}
            <div id="project-grid-{{ loop.index }}">
                <img src="{{ image }}" alt=" " >
            </div>
        {% endfor %}

        <div id="project-description" style="backdrop-filter: blur(2rem); border-radius: 20px;padding: 20px;">
            <p>{{ project.data.summary }}</p>
        </div>

    <div id="project-link" >
        <a href="{{ project.data.siteUrl }}" class="web-link-btn"  
            target="_blank" rel="noopener noreferrer"
            style="margin-right: 20%">Visit Site
        </a>
        <a href="{{ project.url }}" class="web-link-btn">Case Study</a>
    </div>

</div>