 <section class="projects--section" id="projects">
     <div id="section--heading">
         <h1>Projects</h1>
     </div>
     <div id="projects--article">
        {%- for project in collections.featured -%}
            {% include "project-card.njk" %}
        {%- endfor %}
     </div>
     <div class="link-container">
        <a href="/projects" class="page-link-btn">More   <i class="fa-solid fa-arrow-right"></i></a>
     </div>
 </section>