---
title: projects
layout: "base.njk"
---
  <h1>{{ title }}</h1>
  
  <div >
    {{ content | safe }}
  </div>

    <div id="project-link">
        <a href="{{ project.data.siteUrl }}" class="web-link-btn"  
            target="_blank" rel="noopener noreferrer">Visit Site
        </a>
    </div>
</div>
</div>