<div id="huge-display">
    <div id="project-heading">
        <h1>{{ project.data.title }}</h1>
    </div>
    
        
            <div id="project-grid-1">
                <img src="{{ project.data.images[0] }}" class="project-grid-image" alt=" " >
                <div class="project-meta">
                    <h1><span>Category: </span></h1>
                    <p>{{ project.data.category }}</p>
                    <h1><span>Completed: </span></h1>
                    <p>{{ project.data.date | postDate }}</p>
                    <h1><span>Technologies:<span></h1>
                    {% for tech in project.data.tech %}
                        <p>{{ tech }}</p>
                    {%endfor%}
                    <h1><span></span></h1>
                </div>
            </div>
       

        <div id="project-description">
            <p>{{ project.data.summary }}</p>
        </div>

    <div id="project-link" >
        <a href="{{ project.data.siteUrl }}" class="web-link-btn"  
            target="_blank" rel="noopener noreferrer"
            style="margin-right: 20%">Visit Site
        </a>
        <a href="{{ project.url }}" class="web-link-btn">Case Study</a>
    </div>

</div>