---
title: "About"
layout: "base.njk"
---

        <article style="backdrop-filter: blur(1rem); border-radius: 20px;">    
            <h1>My <span>Journey</span> So Far</h1>
            <p>With a strong foundation in I.T support, I've honed my 
                troubleshooting and problem-solving skills, ensuring that 
                technology remains an enabler for individuals and organizations 
                in this digital age of information. My digital marketing 
                proficiency has allowed me to harness the power of the internet 
                to connect with audiences and drive meaningful engagement. 
                In addition, my front-end web development skills have enabled 
                me to craft visually appealing and user-friendly websites that 
                leave a lasting impression.</p>
        </article>

        <article style="backdrop-filter: blur(1rem); border-radius: 20px;">
            <h1><span>Passion</span> For UX Design</h1>
            <p>What sets me apart is my unwavering enthusiasm for 
                User Experience (UX) design. I'm eager to blend my 
                technical know-how with my creative instincts to create 
                digital experiences that are not only visually appealing 
                but also intuitive and user-centric. My goal is to bridge 
                the gap between technology and human interaction, ensuring 
                that every digital product I touch enhances the lives of its 
                users.</p>
        </article>

        <article style="backdrop-filter: blur(1rem); border-radius: 20px;">
            <h1>Constant <span>Learning</span> and Growth</h1>
            <p>While I have not extensive professional experience yet, I'm 
                committed to lifelong learning and professional development. 
                I hold a <a href='../../index.html' >collection of certificates</a> 
                that showcase my dedication to mastering new skills and 
                staying-up-date with industry trends. My current academic 
                pursuit is just one aspect of my commitment to becoming a 
                well-rounded I.T expert.</p>
        </article>
        <article style="backdrop-filter: blur(1rem); border-radius: 20px;">
            <h1><span>Join Me</span> on My Journey</h1>
            <p>From my I.T support projects to digital marketing campaigns 
                and web development creations, you'll see my dedication to 
                excellence and my desire to make a meaningful impact in the 
                digital world. As I continue to evolve, your support and 
                collaboration are valuable</p>
        </article>
        <article style="backdrop-filter: blur(1rem); border-radius: 20px;">
            <h1>Let's <span>Connect</span></h1>
            <p style="margin-bottom: 50px">I'm always open to networking collaboration, and learning 
                from others in the I.T community. If you have a project in 
                mind, an opportunity for growth, or simply want to chat 
                about technology, feel free to reach out. Together, we 
                can explore the exciting possibilities that the world of 
                I.T has to offer.
                <br>
                Thank you for visiting my portfolio, and I look forward to 
                connecting with you on this incredible journey of technological 
                exploration and innovation.
            </p>
              
        </article>
