---
title: "Home"
layout: "base.njk"
---

        <section class="hero" id="hero">
            <div class="hero--intro">
                <h1>Tshepo <span id="middle--name">Sean</span> Maseeme</h1>
                <ul>
                    <li id="hero-list-item">Front-End Web Developer</li>
                    <li id="hero-list-item">I.T Support Specialist</li>
                    <li id="hero-list-item">Digital Marketer</li>
                </ul>
            </div>
        </section>

        <section class="about--section" id="about-me">
            <div id="section--heading">
                <h1>About</h1>
            </div>
            <div id="about--article">
                <div id="article-col">
                    <p>Hello, I'm Tshepo, an aspiring I.T student with a 
                    passion for technology and a diverse skill set in I.T support, digital
                    marketing and front-end web development. I'm currently on a thrilling journey 
                    of self-improvement and academic pursuit, working towards an I.T diploma while
                    constantly expanding my knowledge and expertise in the world of Information 
                    technology. I am actively seeking opportunities to collaborate with professionals, 
                    join projects, and contribute my skills to practical scenarios. I believe that practical 
                    experience is invaluable, and I am committed to not only enhancing my current skill set 
                    but also learning new technologies and methodologies in the rapidly changing field of 
                    Information Technology.</p>
                    <br>
                    <a href="/about" class="page-link-btn">More</a>
                </div>
            </div>
        </section>

        <section class="certificates--section">
            <div id="section--heading">
                <h1>Certificates</h1>
            </div>
            <div id="fwd--article">
                <div id="slideshow">
                    <h1>Front-End Web development</h1>
                    <div id="certificate-slideshow">
                        <div class="display">
                            <img src="./images/Meta Front-End Developer images/HTML and CSS in Depth Certificate_page-0001.jpg" alt="">
                            <p>  HTML and CSS in Depth</p>
                            <a href="https://coursera.org/verify/BBWD5SEFJLBC" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Meta Front-End Developer images/Intro to Front End Development Certificate_page-0001.jpg" alt="">
                            <p> Intro to Front End Development</p>
                            <a href="https://coursera.org/verify/8JLM4HVC8B9Z" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Meta Front-End Developer images/Programming with JavaScript Certificate_page-0001.jpg" alt="">
                            <p> Programming with Javascript</p>
                            <a href="https://coursera.org/verify/QPRP88C38TJK" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Meta Front-End Developer images/Version Control Certificate_page-0001.jpg" alt="">
                            <p>Version Control</p>
                            <a href="https://coursera.org/verify/GWX4RTQ5U6NB" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Meta Front-End Developer images/React Basics Certificate_page-0001.jpg" alt="">
                            <p>React Basics</p>
                            <a href="https://coursera.org/verify/EBH4YXK983AA" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                    </div>
                </div>

                <div id="slideshow">
                    <h1>I.T Support</h1>
                    <div id="certificate-slideshow">
                        <div class="display">
                            <img src="./images/Google IT Support images/Technical Support Fundamentals.jpg" alt="">
                            <p>Technical Support Fundamentals</p>
                            <a href="https://coursera.org/verify/Z9JBFYN3QZGW" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google IT Support images/The Bits and Bytes of Computer Networking Certificate.jpg" alt="">
                            <p> The Bits and Bytes of Computer Network</p>
                            <a href="https://coursera.org/verify/36ULEV2LM3NK" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google IT Support images/Operating Systems and You Becoming a Power User.jpg" alt="">
                            <p>Operating Systems</p>
                            <a href="https://coursera.org/verify/LVBLGH4HGTYN" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google IT Support images/System Administration and IT Infrastructure Services Certificate_page-0001 (1)-min.jpg" alt="">
                            <p>Systems Administration and IT Infrastructure</p>
                            <a href="https://www.coursera.org/account/accomplishments/verify/GSA3GK95HQUV" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                    </div>
                </div>

                <div id="slideshow">
                    <h1>Digital Marketing</h1>
                    <div id="certificate-slideshow">
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Attract and Engage Customers with Digital Marketing Certificate.jpg" alt="">
                            <p> Engage Customers with Digital Marketing</p>
                            <a href="https://coursera.org/verify/EXUSEDNJD5XZ" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Foundations of Digital Marketing and E-commerce Certificate_page-0001.jpg" alt="">
                            <p>Foundations of Digital Marketing</p>
                            <a href="https://coursera.org/verify/VYEXWN4CN37U" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/From Likes to Leads Interact with Customers Online_page-0001.jpg" alt="">
                            <p>From Likes to Leads</p>
                            <a href="https://coursera.org/verify/GLFUWQZWJ96W" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Think Outside The Inbox Email Marketing Certificate_page-0001.jpg" alt="">
                            <p>Email Marketing</p>
                            <a href="https://coursera.org/verify/2FD2A3LVSGLM" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Marketing Analytics and Measurement Certificate.jpg" alt="">
                            <p>Marketing Analytics and Measurements</p>
                            <a href="https://www.coursera.org/account/accomplishments/verify/WT57KDAUULL3" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Build, Launch, and Manage E-commerce Stores Certificate_page-0001.jpg" alt="">
                            <p>Manage E-Commerce Stores</p>
                            <a href="https://www.coursera.org/account/accomplishments/verify/5VN3LHP9QW54" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                            <img src="./images/Google Marketing Digital images/Develop Customer Loyalty Online Certifcate-min.png" alt="">
                            <p>Develop Customer Loyalty</p>
                            <a href="https://www.coursera.org/account/accomplishments/verify/DNSPPR92VCH9" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                        <div class="display">
                         <img src="./images/Google Marketing Digital images/google-digital-marketing-e-commerce-certificate (1)-min.png" alt="">
                         <a href="https://www.credly.com/badges/24648976-8642-4b3a-83f4-52ae743a2d9b/public_url" class="web-link-btn" target="_blank" rel="noopener noreferrer">Verify</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include "project-grid.njk" %}

        <section class="contact" id="contact-form">
            <div id="contact-section">

                <div class="contact-heading">
                    <h1>Contact Me</h1>
                </div>
                <div class="contact-cols">

                
                    <div id="contact-col-1">
                        <div class="contact-info">
                            <p>Call: 
                                <br>
                                066 235 2544</p>
                        </div>
                        <div class="contact-info">
                            <p>Email: 
                                <br>
                                maseemet0@gmail.com</p>
                        </div>
                    </div>     

                    <div id="contact-col-2">
                        <form name="contact" method="POST" data-netlify="true" onSubmit="submit" data-netlify-honeypot="bot-field">
                            <div id="form-input">
                                <label for="senderName">Your name</label>
                                <input type="text" id="senderName" placeholder=" Your name here" style="border-radius: 5px" name="name">
                            </div>
                            <div id="form-input">
                                <label for="senderEmail">Email</label>
                                <input type="text" id="senderEmail" placeholder=" Your email here" style="border-radius: 5px" name="email">
                            </div>
                            <div id="form-input">
                                <label for="senderMessage">Message</label>
                                <textarea name="" id="senderMessage" cols="30" rows="10" placeholder=" Your message here" style="border-radius: 5px" name="message"></textarea>
                            </div>
                            <button type="submit" class="submit-btn">Send</button>
                        </div>
                        
                </form>
            </div>


            </div>

        </section>