---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<div style="text-align: center; height: 90vh" >
  <h2 style="font-size: 3rem; color: var(--secondary-color); margin-block: 10vh">Thanks for getting in touch!</h2>
  <p style="font-size: 30px; color: var(--primary-color); margin: auto">I'll respond as soon as I can.<p>
  <p style="margin-top: 50vh;"><a href="/index" style="text-decoration: none; margin-top: 70vh; color">Back to homepage</a></p>
</div>